<div class= cards>
    <p-card header="Perfil de Usuario">
        <img src="../../assets/images/79.jpg">
        <!--<p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>-->
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Username">         
        </div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="password" pInputText placeholder="Contraseña">         
        </div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="password" pInputText placeholder="Repetir contraseña">         
        </div>
        
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">$</span>
            <input type="text" pInputText placeholder="Sueldo">   
            <span class="p-inputgroup-addon">.00</span>      
        </div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">www</span>
            <input type="text" pInputText placeholder="Página Web">      
        </div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-twitter"></i></span>
            <input type="text" pInputText placeholder="Tweeter">      
        </div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-facebook"></i></span>
            <input type="text" pInputText placeholder="Facebook">      
        </div>

    </p-card>
    </div>